// Core variables and mixins
@import "../bower_components/bootstrap/less/variables.less";
// Override
@icon-font-path: "fonts/";
@import "variables.less";

@import "../bower_components/bootstrap/less/mixins.less";

// Reset and dependencies
@import "../bower_components/bootstrap/less/normalize.less";
@import "../bower_components/bootstrap/less/print.less";
@import "../bower_components/bootstrap/less/glyphicons.less";

// Core CSS
@import "../bower_components/bootstrap/less/scaffolding.less";
@import "../bower_components/bootstrap/less/type.less";
//@import "../bower_components/bootstrap/less/code.less";
@import "../bower_components/bootstrap/less/grid.less";
//@import "../bower_components/bootstrap/less/tables.less";
@import "../bower_components/bootstrap/less/forms.less";
@import "../bower_components/bootstrap/less/buttons.less";

// Components
//@import "../bower_components/bootstrap/less/component-animations.less";
//@import "../bower_components/bootstrap/less/dropdowns.less";
@import "../bower_components/bootstrap/less/button-groups.less";
@import "../bower_components/bootstrap/less/input-groups.less";
//@import "../bower_components/bootstrap/less/navs.less";
//@import "../bower_components/bootstrap/less/navbar.less";
//@import "../bower_components/bootstrap/less/breadcrumbs.less";
//@import "../bower_components/bootstrap/less/pagination.less";
//@import "../bower_components/bootstrap/less/pager.less";
@import "../bower_components/bootstrap/less/labels.less";
@import "../bower_components/bootstrap/less/badges.less";
//@import "../bower_components/bootstrap/less/jumbotron.less";
@import "../bower_components/bootstrap/less/thumbnails.less";
@import "../bower_components/bootstrap/less/alerts.less";
//@import "../bower_components/bootstrap/less/progress-bars.less";
//@import "../bower_components/bootstrap/less/media.less";
@import "../bower_components/bootstrap/less/list-group.less";
//@import "../bower_components/bootstrap/less/panels.less";
@import "../bower_components/bootstrap/less/responsive-embed.less";
//@import "../bower_components/bootstrap/less/wells.less";
//@import "../bower_components/bootstrap/less/close.less";

// Components w/ JavaScript
//@import "../bower_components/bootstrap/less/modals.less";
//@import "../bower_components/bootstrap/less/tooltip.less";
//@import "../bower_components/bootstrap/less/popovers.less";
//@import "../bower_components/bootstrap/less/carousel.less";

// Utility classes
@import "../bower_components/bootstrap/less/utilities.less";
@import "../bower_components/bootstrap/less/responsive-utilities.less";

.user-selection(@background, @color: white)
{
    &::selection
    {
        background: @background;
        color: @color;
    }
    &::-moz-selection
    {
        background: @background;
        color: @color;
    }
}

html, body {
	height: 100%;
}

body {
	background: #222;
	& > * {
		background-color: @body-bg;
	}
}

* {
	.user-selection(lighten(@brand-primary, 33%), @body-bg);
}

.relative {
	position: relative;
}

.top {
	position: relative;
	color: white;
	background-image: url(images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	nav {
		ul {
			list-style-type: none;
			padding: 0;
		}
		a {
			color: inherit;
			text-transform: uppercase;
			font-family: @headings-font-family;
			font-weight: bold;
		}
	}
}

@media (max-width: @screen-sm-max) {
	@mmh: 80px;
	.top.secondary {
		background-color: @brand-primary;
		background-image: url(images/bg.jpg);
		height: @mmh;
		overflow: hidden;
		img.menu-logo-alt {
			height: @mmh;
			position: relative;
			top: 0;
			transform: none;
		}
		.menu-icon {
			padding: 25px 0 25px 25px;
		}
		nav .dropdown ul {
			text-align: center;
			font-size: @font-size-h2;
			li {
				padding-top: @padding-base-vertical;
			}
		}
		transition: height 2s ease-out;
	}
	.menu-open .top.secondary {
		height: 97.5%;
	}
}

@media (min-width: @screen-md-min) {
.top {
	background-image: url(images/road.jpg);
	height: 25%;
	min-height: 200px;
	&.secondary {
		.container, .row, .row > div {
			position: relative;
			height: 100%;
		}
		nav {
			ul {
				position: absolute;
				list-style-type: none;
				padding: 0;
				top: 50%;
				transform: translateY(-50%);
			}
			li {
				display: inline-block;
				padding: @padding-base-vertical @padding-base-horizontal*3;
			}
			li a {
				position: relative;
				transform-origin: left bottom;
				font-size: inherit;
				font-size: 24px;
				position: absolute;
				transform: rotate(340deg);
			}
		}
	}
}
#about .top {
	background-image: url(images/trip.jpg);
}
#admissions .top {
	background-image: url(images/streets.jpg);
}
#testimonies .top {
	background-image: url(images/landscape.jpg);
}
} /* END .top */


.cover {
	height: 97.5%;
	background-image: url(images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	.navbar {
		padding-top: @padding-base-vertical;
		z-index: 3;
		//height: 50%;
		a {
			display: block;
			padding: 0 @padding-base-horizontal;
			border: 1px solid transparent;
			&:hover, /*&:focus, */&.active {
				border: 1px solid #eee;
				border-radius: @border-radius-base;
			}
		}
		.menu-button {
			/*svg rect {
				fill: white;
			}*/
			padding: 15px;
			color: inherit;
			text-decoration: none;
			img {
			height: 25px;
				width: 30px;
			}
		}
	}/*
<<<<<<< HEAD
	.logo {
		margin-top: -235px;
		width: 220px;
=======*/
	.center-container {
		position: absolute;
		width: 98%;
		left: 1%;
		transform: translateY(-50%);
		& > * {
			opacity: 1;
			transform-style: preserve-3d;
			backface-visibility: hidden;
			transform: rotateY(0deg);
			transition: all 1s ease;
		}
		&.off > * {
			opacity: 0;
			transform: perspective(2000px) rotateY(179.9deg);
		}
	}
	#logo-container {
		top: 45%;
		.logo {
			width: 220px;
			position: relative;
			@media (min-width: @screen-sm-min) {
				width: 330px;
			}
		}
	}
	#menu-container {
		top: 50%;
		text-align: center;
		height: 75%;
		@media (min-width: @screen-sm-min) {
			height: 50%;
		}
		ul {
			width: 95%;
			left: 2.5%;
			padding: 0;
			position: relative;
			height: 100%;
			& > li {
				position: relative;
				height: 20%;
			}
		}
		a {
			display: inline-block;
			color: #fff;
			font-size: @font-size-h2;
			@media (min-width: @screen-sm-min) {
				font-size: @font-size-h1;
			}
			padding: @padding-large-vertical @padding-large-horizontal;
		}
	}
}

.menu-logo-alt {
	/*svg path {
		fill: white;
	}*/
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}


#home #content {
	padding-top: 4em;
	& when (@debug = true) {
        background-image: url(http://basehold.it/i/11/888888) !important;
    }
}

h2 {
	padding-bottom: 0.5588235294117647em;
}

p.ending {
	padding-bottom: 22px;
}

.btn {
	padding: @padding-large-vertical @padding-large-horizontal;
	font-style: italic;
}

.space {
	margin-right: @padding-base-horizontal;
}

section {
	padding-bottom: 4em;
}

a.quote-panel {
	display: block;
}
.quote-panel {
	background-color: #fff;
	/*
	p {
		padding-right: @padding-base-horizontal;
		&:first-child {
			padding-top: @padding-large-vertical;
		}
	}
	*/
	blockquote {
		margin: 0;
		padding: @padding-large-vertical 0 0 0;
		font-size: inherit;
		border-color: transparent;
		footer {
			font-size: inherit;
			text-align: right;
		}
	}
}
blockquote {
	border-left-color: @brand-primary;
}
	
section.testimonies > .row {
	padding-bottom: @padding-base-vertical*5;
}

@media (max-width: @screen-sm-max) {
	.col-md-padding {
		padding-bottom: @padding-base-vertical*5;
	}

	section.testimonies > .row {
		padding-bottom: 0;
	}
}


.heading {
	font-family: @headings-font-family;
	color: @headings-color;
	font-weight: bold;
}

.page-header {
	border-bottom-style: dashed;
}

.cursor-reset {
	cursor: inherit !important;
}

#next-shift {
	.bg-map-europe .container {
		position: relative;
		top: 38%;
		transform: translateY(-50%);
		text-align: center;
		span {
			display: block;
			font-weight: normal;
		}
		.when {
			font-size: 72px;
		}
		.where {
			font-size: 36px;
		}
	}
	.marker {
		margin-bottom: -12px;
		/*path {
			fill: @brand-primary;
		}*/
	}
	.btn {
		margin-top: @padding-large-vertical*3;
	}
}

.bg-map-europe {
	height: 600px;
	background: url(images/bg-map-europe.png) no-repeat center center;
}

@media (max-width: @screen-xs-max) {
	.text-xs-center {
		text-align: center;
	}

	.pull-xs-center {
		float: none !important;
	}
	
	.skipline-xs {
		margin-top: @padding-large-vertical;
	}
}

.list-group .badge {
	margin-top: -(2*@padding-large-vertical+5);
}

.fake-small-caps {
	text-transform: uppercase;
	font-size: 0.75em;
	display: inline-block;
	font-weight: 400;
}

.fake-small-caps:first-letter {
	font-size: 1.33333em;
	font-weight: 300;
}

.small-caps {
	font-variant: small-caps;
}

footer#site-footer {
	font-family: @headings-font-family;
	font-size: ceil((@font-size-base * 1.09375));
	height: 210px;
	background-repeat: no-repeat;
	background-image: url(images/footer-sm.jpg);
	background-position: right bottom;
	@media (min-width: @screen-md-min){
		background-image: url(images/footer.jpg);
		background-position: center bottom;
	}
	.contact, address {
		padding-top: @padding-large-vertical*2;
	}
	.mask {
		overflow: hidden;
		width: 125px;
	}
	div.logo {
		padding-top: 0;
	}
	//.contact {		text-align: center;	}
		.contact {
			text-align: right;
		}
	@media (min-width: @screen-lg-min){
		.mask {
			overflow: visible;
			width: auto;
		}
	}
}

legend {
	border-bottom-style: dotted;
}

textarea {
	resize: vertical;
}

#contact h2 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	margin-bottom: @padding-base-vertical*2;
}

#map-canvas {
	height: 244px;
	width: 100%;
}

.img-t {
	border-style: solid;
	border-color: white;
	border-width: 10px 10px 15px 10px;
	box-shadow: 3px 8px 10px 0 #bbb;
	background: white;
	figcaption {
		color: #333;
		text-align: center;
		font-size: 1.2em;
		padding-top: 5px;
		span {
			color: @gray;
		}
	}
	border-radius: @border-radius-base;
	img {
		border-radius: 5px;
	}
	padding: 0 !important;
}


@angle1: -4deg;
@angle2: 1deg;
@angle3: 0deg;
@angle4: -6deg;
@angle5: 3deg;
@angle6: -1deg;

.img-t1 {
	transform: rotateZ(@angle1);
}

.img-t2 {
	transform: rotateZ(@angle2);
	margin-left: @padding-large-horizontal;
	margin-bottom: @padding-large-vertical;
}

.img-t3 {
	transform: rotateZ(@angle3);
	margin-right: @padding-large-horizontal;
	margin-bottom: @padding-large-vertical;
}

.img-t4 {
	transform: rotateZ(@angle4);
	margin-left: @padding-large-horizontal;
	margin-bottom: @padding-large-vertical;
}

.img-t5 {
	transform: rotateZ(@angle5);
	margin-right: @padding-large-horizontal;
	margin-bottom: @padding-large-vertical;
	margin-top: -@padding-large-vertical*5;
}

.img-t6 {
	transform: rotateZ(@angle6);
	margin-left: @padding-large-horizontal;
	margin-bottom: @padding-large-vertical;
}

.img-left {
	display: inline-block;
	float: left;
	margin-right: @padding-large-horizontal;
	padding: @padding-base-vertical 0 !important;
}

@media(max-width: @screen-sm-max){
	#testimonies #content section {
		margin-bottom: @padding-large-vertical*2;
	}
	.img-t {
		margin-bottom: @padding-base-vertical*3;
		&.pull-left {
			margin-right: @padding-base-horizontal*3;
		}
		&.pull-right {
			margin-left: @padding-base-horizontal*3;
		}
	}
	.img-t5 {
		margin-top: @padding-base-vertical;
	}
}

@media(max-width: @screen-xs-max){
	.img-t.pull-left, .img-t.pull-right {
		float: none !important;
	}
	.img-t4 {
		margin-bottom: @padding-base-vertical*6;
	}
}

@media(min-width: @screen-md-min){

	.loop(@i) when (@i > 0){
		.loop((@i - 1));
		.t1 .mask@{i}{
			width: floor(@i*@h-size/(1/tan(@angle1)));
		}
	}

	@h-size: 15px;
	.t1 .mask {
	  float: left;
	  clear: left;
	  width: @h-size;
	  height: @h-size;
	}

	.loop(30);

}






