@debug: false;
//@debug: true;

@brand-primary: #52381e;
@brand-info: lighten(@brand-primary, 33%);
@input-border-focus: @brand-info;
@gray-base: #484848;
@headings-color: #444444;
@body-bg: #eeeeee;
@input-color: darken(@gray, 10%);
@font-family-base: @font-family-serif;
@headings-font-family: Cambria, Georgia, "Times New Roman", Times, serif;
@headings-font-weight: bold;
@font-size-base: 16px;
@line-height-base:        1.375; // 22/16
@line-height-computed:    floor((@font-size-base * @line-height-base));

@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px


@headings-line-height: 1.294117647058824;

@page-header-border-color: #d0d0d0;

@padding-base-vertical:     6px;
@padding-base-horizontal:   12px;

@padding-large-vertical:    12px;
@padding-large-horizontal:  33px;

@padding-small-vertical:    5px;
@padding-small-horizontal:  10px;

@padding-xs-vertical:       1px;
@padding-xs-horizontal:     5px;

@line-height-large:         1.375;
@line-height-small:         1.5;

@border-radius-base:        7px;
@border-radius-large:       14px;
@border-radius-small:       5px;
